a 
{
    cursor: pointer;
}

@media only screen and (min-width : 1900px) 
{
    html
    {
        zoom: 1.2;
    }
}

.input-group+.input-group {
    margin-top: 5px;
}

table 
{
    margin-bottom: 0!important;
    zoom: 1.25;
}

table th, table td 
{
    margin: auto;
    text-align: center;
}

.glyphicon 
{
    cursor: pointer;
}