<style>
    @media (max-width: 768)
    {
        div.panel
        {
            height: 85vh;
        }
    }

    .thumbnail > p > img
    {
        height: 20vh;
        width: 10vw;
        margin: auto;
        display: block;
    }

    i { font-size: xx-large; }

    a:hover {
        text-decoration: none;
    }

    .icon-delete {
        color: red;
    }

    .icon-delete:hover {
        color: darkred;
    }

    #files {
        float: left;
        max-width: 50vw;
    }

    #upload {
        float: right;
        max-width: 50vw;
    }
</style>
<div ng-controller="lectureDetailController">
    <div class="panel panel-default">
        <div class="panel-heading">Lecture: {{lecture.name}} ({{lecture.id}})</div>
        <div class="panel-body flex-panel">
            <div ng-repeat="package in packages" class="col-xs-6 col-sm-6 col-md-4 col-lg-2 iflex">
                <div class="thumbnail" ng-click="clicked(package)">
                    <span class="float-icon-right"><i class="fa fa-lg" ng-class="package.selected ? 'fa-check-circle-o' : 'fa-circle-o'"></i></span>
                    <p>
                        <br />
                        <img fallback-src="{{fallbackImage}}" ng-src="{{package.image}}" />
                    </p>
                    <div class="caption">
                        <h4>{{package.name}}</h4>
                        <h5>{{package.artifactRefID}}</h5>
                        <p>{{package.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-success" ng-disabled="!dirty" ng-click="save()">Save</button>
            <button class="btn btn-danger" ng-click="refresh()">Reset</button>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Lecture Storage (Files)</div>
        <div class="panel-body flex-panel">
            <div ng-repeat="storageFile in files" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 iflex">
                <div class="thumbnail">
                    <span class="float-icon-right" ng-click="removeStorageFile(storageFile)">&nbsp;<i class="fa fa-lg fa-minus-circle icon-delete"></i></span>
                    <span class="float-icon-right"><a ng-href="{{storageFile.url}}" class="fa fa-lg fa-download"></a></span>
                    <div class="caption">
                        <h3>{{storageFile.filename}}</h3>
                    </div>
                </div>
                <!--<p>{{storageFile.url}}</p>-->
            </div>
        </div>
        <div class="panel-footer text-center">
            <form method="post" enctype="multipart/form-data" style="min-height: 34px">
                <input type="file" id="files" name="files" multiple class="btn form-control" />
                <input type="button" id="upload" class="btn btn-default" ng-click="uploadFiles()" value="Upload Selected Files" />
                <br />
            </form>
        </div>
    </div>
</div>