<style>
        .thumbnail > p > img
        {
            height: 15vh;
            width: 8vw;
            margin: auto;
            display: block;
        }
    
        .thumbnail i 
        {
            font-size: xx-large;
        }
</style>

<div ng-controller="packageDetailController">
    <div class="panel panel-default">
        <div class="panel-heading">Manage Package: {{package.name}} ({{package.id}})</div>
        <div class="panel-body">
            <form>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                    <input ng-model="package.name" class="form-control" type="text" placeholder="Package Name" required />
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                    <select class="form-control" ng-model="package.artifactRefID" ng-options="artifact as artifact.id for artifact in artifacts"></select>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                    <input ng-model="nPackage.image" class="form-control" type="text" placeholder="URL or Path to an image..." />
                </div>
            </form>

            <form>
                <h3>Dependencies</h3>
                <div id="dependencies" class="flex-panel">     
                    <div ng-repeat="package in packages" class="col-xs-6 col-sm-6 col-md-4 col-lg-2 iflex">
                        <div class="thumbnail" ng-click="clickDep(package)">
                            <span class="float-icon-right"><i class="fa fa-lg" ng-class="package.selected ? 'fa-check-circle-o' : 'fa-circle-o'"></i></span>
                            <p>
                                <br/>
                                <img fallback-src="{{fallbackImage}}" ng-src="{{package.image}}" />
                            </p>
                            <div class="caption">
                                <h3>{{package.name}}</h3>
                                <p>{{package.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-success" ng-click="update()">Update Details</button>
            <button class="btn btn-danger" ng-click="refresh()">Reset</button>
        </div>
    </div>
</div>