---
---

@import "{{ site.theme }}";

.inner
{
	max-width: 60vw;
}

p
{
	text-align: center;
}

img
{
	max-height: 80vh;
	max-width: 60vw;
}

footer p
{
	text-align: left;
}

@media screen and (max-width: 480px)
{
	.inner
	{
		min-width: 75vw;
		max-width: 100vw;
	}

	img
	{
		min-width: 75vw;
		max-width: 100vw;
	}
}