body
{
    margin: 8px;
}

.content > #contexts
{
    overflow: overlay;
    -webkit-overflow-scrolling: auto;
}

input:disabled 
{
    cursor: default !important;
}

#loader 
{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    z-index: 1;
    margin: 0;
    margin-top: 100px;
    margin-left: -150px;
    text-align: center;
}

.led-red 
{
    width: 12px;
    height: 12px;
    background-color: #F20;
    border-radius: 50%;
    box-shadow: #000 0 -1px 4px 1px, inset #600 0 -1px 6px, #F00 0 2px 8px;
}

.led-yellow 
{
    width: 12px;
    height: 12px;
    background-color: #DD0;
    border-radius: 50%;
    box-shadow: #000 0 -1px 4px 1px, inset #AA0 0 -1px 6px, #DD0 0 2px 8px;
}

.led-green 
{
    width: 12px;
    height: 12px;
    background-color: #7D0;
    border-radius: 50%;
    box-shadow: #000 0 -1px 4px 1px, inset #460 0 -1px 6px, #7D0 0 2px 8px;
}

.led-blue 
{
    width: 12px;
    height: 12px;
    background-color: #06F;
    border-radius: 50%;
    box-shadow: #000 0 -1px 4px 1px, inset #006 0 -1px 6px, #06F 0 2px 8px;
}

.panel-heading > .pull-right
{
    margin-top: -26px;
}

.page-header
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.page-header > h1
{
    margin-bottom: 0px;
}

@-webkit-keyframes spin 
{
      0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin 
{
      0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}