<div ng-controller="lectureDetailController">
    <div class="panel panel-default">
        <div class="panel-heading">Lecture: {{lecture.name}} ({{lecture.id}})</div>
        <div class="panel-body">
            <!--<table class="table table-striped table-hover table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="package in packages">
                        <td>{{package.id}}</td>
                        <td>{{package.name}}</td>
                        <td>{{package.artifactRefID}}</td>
                        <td><span class="glyphicon glyphicon-edit" aria-hidden="true" ng-click="edit(package)"></span>&nbsp;|&nbsp;<span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(package)"></span></td>
                    </tr>
                </tbody>
            </table>-->
            <select id="packageSelector" ng-options="package as package.name + ' (' + package.artifactRefID + ') ' for package in packages track by package.artifactRefID" multiple ng-model="selections" bs-duallistbox></select>
        </div>
        <div class="panel-footer text-center">
            <button class="btn btn-default" ng-click="printScope()">Print Scope</button>
            <button class="btn btn-default" ng-click="printSelection()">Print Selection</button>
        </div>
    </div>
</div>