<div ng-controller="packageDetailController">
    <div class="panel panel-default">
        <div class="panel-heading">Manage Lecture: {{lecture.name}} ({{lecture.id}})</div>
        <div class="panel-body">
            <select ng-options="package as package.name for package in packages track by package.id" multiple ng-model="selections" bs-duallistbox></select>
        </div>
    </div>

    <div id="LectureCreator">
        <div class="panel panel-default">
            <div class="panel-heading">Create Package</div>
            <div class="panel-body">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                        <input ng-model="newPackage.name" class="form-control" type="text" placeholder="Package Name" required />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-arrow-right"></i></span>
                        <select class="form-control" ng-model="newPackage.ArtifactID" ng-options="artifact as artifact.id for artifact in artifacts track by artifact.id"></select>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-success" ng-click="create(newPackage)">Create</button>
                <button class="btn btn-danger" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>