<div ng-controller="artifactUploadController">
    <div ng-if="artifact != null">
        <h2>Artifact: {{artifact.id}}</h2>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">List File in Artifact</div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>File</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="storageItem in storage" ng-click="clicked(storageItem)">
                        <td>{{storageItem.id}}</td>
                        <td>{{storageItem.name}}</td>
                        <td><a ng-href="{{artifact.url}}"><i class="glyphicon glyphicon-download"></i></a> | <a ng-click="remove(storageItem)"><i class="glyphicon glyphicon-remove"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="ArtifactFileUploader">
        <div class="panel panel-default">
            <div class="panel-heading">Upload File</div>
            <div class="panel-body">
                <form>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-cog"></i></span>
                        <input ng-model="nArtifact.id" class="form-control" type="text" placeholder="Artifact ID" required />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-plus"></i></span>
                        <input ng-model="nArtifact.installAction" class="form-control" type="text" placeholder="Install Command" required />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span>
                        <input ng-model="nArtifact.removeAction" class="form-control" type="text" placeholder="Remove Command" required />
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-success" ng-click="create(nArtifact)">Create</button>
                <button class="btn btn-danger" ng-click="clear()">Clear</button>
            </div>
        </div>
    </div>
</div>